PORT=
DB=


TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=


JSONWEB_SECRET=
ADMIN_EMAIL=
ADMIN_PASS=


CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=
CLOUDINARY_NAME=

SMTP_USER=
SMTP_PASSWORD=
SENDER_EMAIL=

ACCOUNT_SID=
AUTH_TOKEN =
TWILIO_MOBILE_NUMBER=